{% extends "app/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block page_header %}
<h2>{% trans "Add slots"%}</h2>
{% endblock page_header %}
{% block content %}
<div class="container p-3 my-3 bg-light text-black border">
    <div class = "offser-3 col-md-4">
        <h3>{{doctor}}</h3>
        <h4>{{doctor.speciality}}</h4>
        <p>Days of visit:</p>
        {% for slot in slots%}
        <div class="list-group-item list-group-item-light">{{slot.date|date:"l"}}
            {{slot.start_time}}-{{slot.end_time}}</div>
        {% empty %}
            <h5>{% trans "No slots"%}</h5>
        {%endfor%}
        <br>
        <form action = "{% url 'app:add_slot' doctor.id%}" method='post'>
            {% csrf_token %}
            {{day_form|crispy}}
            {{ slot_form|crispy }}
            <button name='submit'>{% trans "Add slot"%}</button>
        </form>
    </div>
</div>
{% endblock content %}