{% extends "app/base.html" %}
{% load i18n %}
{% block page_header %}
<h2>{% trans "Add new disease to"%} {{disease.animal}}</h2>
{% endblock page_header %}
{% block content %}
<div class="container p-3 my-3 border">
<div class = "offser-3 col-md-6">
<form action = "{% url 'app:add_disease' pet.id%}" method='post'>
    {% csrf_token %}
    <div class="form-group">
    {{form.as_p}}
    </div>
    <button name='submit'>{% trans "Add disease"%}</button>
</form>
</div>
</div>
{% endblock content %}