<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Clinic</title>
    {% load bootstrap4 %}
    {% load i18n %}
    {% load user_tags %}
    {% load static %}
    {% bootstrap_css%}
    {% bootstrap_javascript jquery="full"%}
    <style>
    .asteriskField{
      display:none;
    }
    body { background: #66b266 ; } 
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
      <a class="navbar-brand" href="{% url 'app:index'%}">
          E-Clinic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% if request.user.is_active and request.user.is_staff %}
            {% if request.user|has_group:"Doctors" %}
            <li class="nav-item"><a class="nav-link" href="{% url 'app:my_schedule' 0%}">{% trans "My schedule" %}</a></li>
            {% endif %}
            {% if request.user|has_group:"Admin" %}
            <li class="nav-item"><a class="nav-link" href="{% url 'app:browse_clients' %}">{% trans "Browse Clients" %}</a></li>
            {% endif %}
          {% else %}
          {% if user.is_authenticated%}
          <li class="nav-item"><a class="nav-link" href="{% url 'app:animals'%}">{% trans "My pets" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'app:my_appointments'%}">{% trans "My appointments" %}</a></li>
          {% endif %}
          {%endif%}
          <li class="nav-item"><a class="nav-link" href="{% url 'app:doctors'%}">{% trans "Our doctors" %}</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:profile' %}">{% trans "Hello,"%} {{ user.first_name }}.</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:logout' %}">{% trans "Log out" %}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:register' %}">{% trans "Register" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user:login' %}">{% trans "Log in" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <main class="container">
      <div class="container p-4 my-4 bg-light text-black border rounded position-relative">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div>
    </main>
  </body>
</html>