{% extends "app/base.html" %}
{% load i18n %}
{% block page_header %}
<h2>{% trans "Clients"%}</h2>
{% endblock page_header %}
{% block content %}
<form method='GET' action=''>
    <input class='form-control' name='q' placeholder= "{% trans "Search by last name" %}" />
</form>
<p></p>
<div class="list-group">
    {% for client in clients%}
    <a class="list-group-item list-group-item-action list-group-item-secondary" href="{% url 'app:client' client.id%}">{{client.first_name}} {{client.last_name}}, {{client.profile.phone_number}}, {{client.profile.city}}</a>
    {% empty %}
        <h5>{% trans "No patients"%}</h5>
    {%endfor%}
</div>    
{% endblock content %}