{% extends 'app/base.html' %}
{% load i18n %}
{% load user_tags %}
{% block page_header %}
    <h2><a class="text-dark" href="{% url 'app:disease' animal.id%}">{{disease.animal}}</a></h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock page_header %}
{% block content %}
<div class="container p-3 my-3 bg-light text-black border">
    <h3>{{disease.name}}</h3>
    <p>{% trans "Recommendations:"%} {{disease.recommendations}}</p>
    {% if disease.status == True%}
    <p>Status: {% trans "Active" %}</p>
    {% else %}
    <p>Status: {% trans "Past" %} </p>
    {% endif %}
    <p>{% trans "Register date:"%} {{disease.register_date|date:"SHORT_DATE_FORMAT"}}</p>
    {% if disease.cure_data %}
    <p>{% trans "Cure date:"%} {{disease.cure_data|date:"SHORT_DATE_FORMAT"}}</p>
    {% endif %}
    <p>{{disease.doctor}}</p>
    {% if request.user|has_group:"Doctors" %}
    <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteModal">
        {% trans "Delete"%}
    </button>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">{% trans "Do you want to delete"}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h3>{{disease.name}}</h3>
                <p>{% trans "Recommendations:"%} {{disease.recommendations}}</p>
                {% if disease.status == True%}
                <p>Status: {% trans "Active" %}</p>
                {% else %}
                <p>Status: {% trans "Past" %} </p>
                {% endif %}
                <p>{% trans "Register date:"%} {{disease.register_date|date:"SHORT_DATE_FORMAT"}}</p>
                {% if disease.cure_data %}
                <p>{% trans "Cure date:"%} {{disease.cure_data|date:"SHORT_DATE_FORMAT"}}</p>
                {% endif %}
                <p>{{disease.doctor}}</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="{% url 'app:disease_delete' disease.id%}">Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <a class="btn btn-primary float-right mr-2" href="{% url 'app:edit_disease' disease.id%}" role="button">{% trans "Edit disease"%}</a>
    <br>
    <br>
    {%endif%}
</div>   
    <h4>{% trans "Medicines"%}</h4>
    {% if request.user|has_group:"Doctors" %}
    <a class="btn btn-primary" href="{% url 'app:add_medicine' disease.id %}" role="button">{% trans "Add new medicine"%}</a>
    {%endif%}
    {% for medicine in medicines%}
    <div class="container p-3 my-3 border">
        <h5>{% trans "Name:"%} {{medicine}}</h5>
        <p>{% trans "Dose:"%} {{medicine.dose}}</p>
        {% if medicine.status == True%}
        <p>Status: {% trans "Active" %}</p>
        {% else %}
        <p>Status: {% trans "Past" %} </p>
        {% endif %}
        <p>{% trans "Introduction date:"%} {{medicine.introduction_date|date:"SHORT_DATE_FORMAT"}}</p>
        {% if medicine.end_data != Null%}
        <p>{% trans "End date"%}: {{medicine.end_data|date:"SHORT_DATE_FORMAT"}}</p>
        {% endif%}
        <p>{{medicine.doctor}}</p>
        {% if request.user|has_group:"Doctors" %}
            <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteModal2">
                {% trans "Delete"%}
            </button>
            <div class="modal fade" id="deleteModal2" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">{% trans "Do you want to delete"}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <h5>{% trans "Name:"%} {{medicine}}</h5>
                        <p>{% trans "Dose:"%} {{medicine.dose}}</p>
                        {% if medicine.status == True%}
                        <p>Status: {% trans "Active" %}</p>
                        {% else %}
                        <p>Status: {% trans "Past" %} </p>
                        {% endif %}
                        <p>{% trans "Introduction date:"%} {{medicine.introduction_date|date:"SHORT_DATE_FORMAT"}}</p>
                        {% if medicine.end_data != Null%}
                        <p>{% trans "End date"%}: {{medicine.end_data|date:"SHORT_DATE_FORMAT"}}</p>
                        {% endif%}
                        <p>{{medicine.doctor}}</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" href="{% url 'app:medicine_delete' medicine.id%}">Delete</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            <a class="btn btn-primary float-right mr-2" href="{% url 'app:edit_medicine' medicine.id%}" role="button">{% trans "Edit"%}</a>
            <br>
            <br>
        {%endif%}
    </div>    
    {% empty %}
        <p></p>
        <a class="list-group-item list-group-item-action">{% trans "No medicines"%}</a>
    {%endfor%}
{%endblock content%}