{% extends "app/base.html" %}
{% load i18n %}
{% load user_tags %}
{% load crispy_forms_tags %}
{% block page_header %}
<h2>{% trans "Edit appointment"%}</h2>
{% endblock page_header %}
{% block content %}
<div class="container p-3 my-3 bg-light text-black border">
        <h5>{% trans "Time of visit"%}: {{appointment.start_time}}</h5>
        {% if appointment.client%}
        <p>{% trans "Owner"%}: {{appointment.client.first_name}} {{appointment.client.last_name}}</p>
        <p>{% trans "Phone number"%}: {{appointment.client.profile.phone_number}}</p>
        {% endif %}
        {% if appointment.animal %}
        <p>{% trans "Pet"%}: {{appointment.animal}}</p>
        {% endif %}
        <p>Service: {{appointment.service}}</p>
        <form action = "{% url 'app:edit_appointment' appointment.id%}" method='post'>
            {% csrf_token %}
            {% if appointment.animal or not appointment.client%}
            {{ form.animal.as_hidden}}
            {% else %}
            {{ form.animal|as_crispy_field}}
            {% endif %}
            {{ form.information|as_crispy_field}}
            <br>
            <button name='submit'>{% trans "Edit appointment"%}</button>
        </form>
</div>
{% endblock content %}