{% extends "app/base.html" %}
{% load i18n %}
{% load user_tags %}
{% load crispy_forms_tags %}
{% block page_header %}
<h2>{% trans "Make appointment"%}</h2>
{% endblock page_header %}
{% block content %}
<div class="container p-3 my-3 bg-light text-black border">
    <div class = "offser-3 col-md-4">
        <h6>{% trans "Service"%}: {{service}}</h6>
        <h6>{% trans "Doctor"%}: {{doctor}}</h6>
        <h6>{% trans "Date"%}: {{slot.date|date:"SHORT_DATE_FORMAT"}} - {{time}}</h6>
        <form action = "{% url 'app:make_appointment_f' service.id slot.id time%}" method='post' onchange="showDiv()">
            {% csrf_token %}
            {% if not service.admin_only%}
                {% if request.user|has_group:"Admin" %}
                    <div id="client">
                        {{ form.client_first_name|as_crispy_field}}
                        {{ form.client_last_name|as_crispy_field}}
                        {{ form.client_phone|as_crispy_field}}
                    </div>
                {% else %}
                    {{ form.animal|as_crispy_field}}
                {% endif%}
                <div id="hidden_div" style="display:none;">
                    {{ form.name|as_crispy_field}}
                    {{ form.species|as_crispy_field}}
                </div>
            {% endif %}    
            {{ form.information|as_crispy_field}}
            <button name='submit'>{% trans "Make appointment"%}</button>
        </form>
    </div>
</div>
<script>
    let z1;
    if(document.getElementById("client")!=null){
        z1 = false;
    }
    else{
        z = document.getElementById("id_animal").selectedIndex;
        z1 = document.getElementsByTagName("option")[z].value;
    }

    if(!z1){
            document.getElementById('hidden_div').style.display = "block";
            }
            
    function showDiv(){
        let z = document.getElementById("id_animal").selectedIndex;
        let z1 = document.getElementsByTagName("option")[z].value;
        if(!z1){
            document.getElementById('hidden_div').style.display = "block";
        } else{
            document.getElementById('hidden_div').style.display = "none";
        }
    } 
</script>
{% endblock content %}
