{% extends "app/base.html" %}
{% load i18n %}
{% block page_header %}
{% load user_tags%}
<h2>{% trans "Make appointment"%}</h2>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endblock page_header %}
{% block content %}
<div class="list-group">
    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{my_service}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for service in services%}
          <a class="dropdown-item"href="{% url 'app:make_appointment_d' service.id%}">{{service}} </a>
        {% empty %}
          <h5>{% trans "No services"%}</h5>
        {%endfor%}
      </div>
    </div>
  </div>
<div class="container p-3 my-3 bg-light text-black border">
    <div class="row">
      <div class="col-3">
        <img src= "{{selected_doctor.image.url}}" class="img-fluid" >
        <h5>Name: {{selected_doctor}}</h5>
        <h5>Speciality: {{selected_doctor.speciality}}</h5>
      </div>
      <div class="col justify-content-md-center">
        <div class="row">
          {% if week != 0 %}
          <div class = 'col'><a class="list-group-item list-group-item-action list-group-item-success"
            href="{% url 'app:make_appointment_s' my_service.id selected_doctor.id p_week%}">Previous week </a></div>
          {%else%}
          <div class = 'col'></div>
          {% endif %}
          <div class="col-6"><h5>Week: {{first.day}} {{first|date:"M"}} - {{last}}</h5></div>
          <div class = 'col'><a class="list-group-item list-group-item-action list-group-item-success"
              href="{% url 'app:make_appointment_s' my_service.id selected_doctor.id n_week%}">Next week </a></div>
        </div>
        <br>
        {% for slot in slots%}
          <div class="list-group-item list-group-item-light">{{slot.date|date:'l'}} {{slot.date|date:'j'}} {{slot.date|date:'M'}}:
            {%free_hours slot.id my_service.id as times%}
            {%for time in times%}
            <a href="{% url 'app:make_appointment_f' my_service.id slot.id time %}">{{time}}</a>
            {% endfor%}
          </div>
      {% empty %}
          <h5>{% trans "No slots"%}</h5>
      {%endfor%}
    </div>
  </div> 
</div>
<div class="row justify-content-md-center">
        {% for doctor in doctors%}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src= "{{doctor.image.url}}" class="card-img-top" alt="..." width="420" height="210">
                    <div class="card-body text-center">
                    <a href="{% url 'app:make_appointment_s' my_service.id doctor.id 0%}" style="text-decoration: none;"><h5 class="card-title mb-0">{{doctor}}</h5></a>
                    <div class="card-text text-black-50">{{doctor.speciality}}</div>
                    </div>
                </div>
            </div>
        {%endfor%}
</div>

{% endblock content %}