{% extends "app/base.html" %}
{% load i18n %}
{% block page_header %}
{% load user_tags%}
<h2>{% trans "Manage slots"%}</h2>
{% endblock page_header %}
{% block content %}
<div class="container p-3 my-3 bg-light text-black border">
    <div class="row">
      <div class="col-3">
        <img src= "{{doctor.image.url}}" class="img-fluid" >
        <h5>Name: {{doctor}}</h5>
        <h5>Speciality: {{doctor.speciality}}</h5>
      </div>
      <div class="col justify-content-md-center">
        <div class="row">
          {% if week != 0 %}
          <div class = 'col'><a class="list-group-item list-group-item-action list-group-item-success"
            href="{% url 'app:manage_slots' doctor.id p_week %}">Previous week</a></div>
          {%else%}
          <div class = 'col'></div>
          {% endif %}
          <div class="col-6"><h5>Week: {{first.day}} {{first|date:"M"}} - {{last}}</h5></div>
          <div class = 'col'><a class="list-group-item list-group-item-action list-group-item-success"
              href="{% url 'app:manage_slots' doctor.id n_week %}">Next week</a></div>
        </div>
        <br>
        {% for slot in slots%}
          <div class="list-group-item list-group-item-light"><p>{{slot.date|date:'l'}} {{slot.date|date:'j'}} {{slot.date|date:'M'}}:
            {% check_appointments slot.id as checked%}
            {% if checked %}
            <a href="{% url 'app:slot' slot.id%}" class="text-primary">Go to slot</a>
            {% else %}
            No appointments for this day
            {% endif %}
            <a class='text-danger float-right' href="{% url 'app:delete_slot' slot.id %}">{% trans "Delete slot"%}</a></p>
          </div>
      {% empty %}
          <h5>{% trans "No slots for this week"%}</h5>
      {%endfor%}
    </div>
  </div>
  <a class="list-group-item list-group-item-action list-group-item-success"
            href="{% url 'app:add_slot' doctor.id %}">{% trans "Add slot"%}</a> 
</div>
{% endblock content%}