{% extends "app/base.html" %}
{% load i18n %}
{% block page_header %}
<h2>Reschedule appointment</h2>
{% endblock page_header %}
{%  block content%}
<div class="container p-3 my-3 border">
    <form method="POST">
        {% csrf_token %}
        <h3>{% trans "Do you want to reschedule"%}</h3>
        <div class="container p-3 mx-3 bg-light text-black ">
            <div class="row">
                <div class="col">
                    <h4>From:</h4>
                    <h5>{{appointment.client.first_name}} {{appointment.client.last_name}}</h5>
                    <h6>{% trans "Pet"%}: {{appointment.animal}}</h6>
                    <h6>{% trans "Date of visit"%}: {{appointment.date}} {{appointment.start_time}}</h5>
                    <h6>{% trans "Service"%}: {{appointment.service}}</h6>
                    <h6>{% trans "Doctor"%}: {{appointment.doctor}}</h6>
                    <p>{% trans "Additional information"%}: {{appointment.information}}</p>
                </div>
                <div class="col">
                    <h4>{% trans "To"%}:</h4>
                    <h5>{{appointment.client.first_name}} {{appointment.client.last_name}}</h5>
                    <h6>{% trans "Pet"%}: {{appointment.animal}}</h6>
                    <h6>{% trans "Date of visit"%}: {{slot.date}} {{time}}</h5>
                    <h6>{% trans "Service"%}: {{appointment.service}}</h6>
                    <h6>{% trans "Doctor"%}: {{doctor}}</h6>
                    <p>{% trans "Additional information"%}: {{appointment.information}}</p>
                </div>
            </div>
            <button type="submit" class="btn btn-danger">{% trans "Yes"%}</button>
        <a class="btn btn-secondary" href="{% url 'app:reschedule' appointment.id appointment.doctor.id 0%}">{% trans "No"%}</a>
        </div>
    </form>
</div>
{% endblock content %}